*,  *::after, *::before {
    padding: 0;
    margin: 0;
}

body {
    background: #211E34;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    animation: Animation .5s ease-in-out;
}

header {
    height: 10vh;
    width: 70%;
    margin: auto;
    position: relative;
}

nav {
    line-height: 100px;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1em;
}

main {
    position: relative;
    height: 80vh;
}

p:nth-child(2) {
    padding: 30px 0;
}

h1 {
    text-transform: uppercase;
    font-weight: bolder;
    z-index: -123123213213 !important;
    position: relative;
}

button {
    background: none;
    border: 1.5px solid #fff;
    padding: 20px 45px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    letter-spacing: 0.2em;
    margin-top: 30px;
    position: relative;
    transition: .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-bottom: 30px;
}

button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #fff;
    transition: .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: -2;
}

button:hover {
    color: #000;
}

button:hover::before {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.anwser {
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    position: fixed;
    background: #fff;
    border-radius: 4px;
    color: #000 !important;
    padding: 60px 120px;
    z-index: 1222 !important;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
}

.backgorund{
    content: '';
    background: #000000bc;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}

.main-content {
    font-size: 1.3rem;
    max-width: 500px;
    margin: auto;
    text-align: left;
    height: 90vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 35px;
}

span {
    letter-spacing: 0.3em;
    position: relative;
    font-weight: bolder;
}

span::before {
    content: '';
    background: rgb(211, 31, 31);
    width: 100%;
    height: 0%;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

span:hover::before {
    height: 40%;
}

footer {
    text-align: center;
    text-transform: uppercase;
    font-size: .65em;
    opacity: .6;
    position: relative;
    letter-spacing: 0.2em;
    z-index: -1;
}

@media screen and (max-width: 900px) {

}


@keyframes Animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}